img{
    display: block;
    width: 450px;
    margin-bottom: 20px;
}
#container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    font-size: 1.2em;
}

input{
    display: block;
    width: 450px;
    height: 35px;
    border: 1px solie blue;
    border-radius: 10px;
    border-color: blue;
    padding-left: 5px;
}
label{
    display: inline-block;
    margin-bottom: 5px;
}
button{
    position: relative;
    top: 10px;
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: blue;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: red;
    color: white;
    font-weight: 600;
}
span{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 50px;
    height: 5px;
    border-radius: 10px;
    margin-right: 2px;
}
.indice{
    color: gray;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    text-align: left;
    padding-top: 10px;
}
a{
    visibility: hidden;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height:40px ;
    border-radius: 10px;
    position: relative;
    top: 35px;
    background-color: red;
    color: white;
}
